@model BlogCore.Models.ViewModels.ArticuloVM

@{
    ViewData["Title"] = "Crear Articulo";
}

<br />
<br />
<h3 class="text-center"> Crear nuevo Articulo </h3>

<form method="post" asp-action="Create" enctype="multipart/form-data">

    <div class="row   border ">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-10 offset-1 mt-4 ">


            <div class="form-group row mb-2">
                <div class="col-5">
                    <label class="">
                        <label asp-for="Articulo.Nombre"></label>
                    </label>
                </div>
                <div class="col-7">
                    <input asp-for="Articulo.Nombre" class="form-control" placeholder="Ingrese el nombre de la categoria" />
                    <span asp-validation-for="Articulo.Nombre" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row mb-2">
                <div class="col-5">
                    <label class="">
                        <label asp-for="Articulo.Descripcion"></label>
                    </label>
                </div>
                <div class="col-7">
                    <textarea asp-for="Articulo.Descripcion" class="form-control" style="height:300px;"></textarea>
                    <span asp-validation-for="Articulo.Descripcion" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row mb-2">
                <div class="col-5">
                    <label class="">
                        <label for="Categoria">Categoria</label>
                    </label>
                </div>
                <div class="col-7">
                   @Html.DropDownListFor(m => m.Articulo.CategoriaId, Model.ListarCategorias, 
                       "-Selecione una categoria-", new {@class = "form-control"})
                    <span asp-validation-for="Articulo.CategoriaId" class="text-danger"></span>

                </div>
            </div>



            <div class="form-group row mb-2">
                <div class="col-5">
                    <label class="">
                        <label asp-for="Articulo.UrlImagen"></label>
                    </label>
                </div>
                <div class="col-7">
                    <input type="file" name="archivos" id="subidaArchivo" class="form-control"/>
                </div>
            </div>






            <div class="form-group ">

                <div class="col-6 float-end mb-4">
                    <!-- Agregar vista parcial -->
                    <partial name="_VistaCrearVolver" />
                </div>
            </div>

        </div>
    </div>
</form>


@section Scripts{
    <script src="https://cdn.tiny.cloud/1/qukxrn62f4bz0iv6z7enaelkkzuzugir28y709xit9xm659s/tinymce/5/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugin: 'lists',
            menubar: 'file edit format'
        });
    </script>
}